* {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba( 59 , 89 , 152 );
  height: 83px;
  background-image: linear-gradient( rgb( 78 , 105 , 162 ) , rgb( 59 , 89 , 152 ) 50% );
}

.fb-logo {
  width: 170px;
  margin-left: 5rem;
}

ul {
  list-style-type: none;
}

#login {
  display: flex;
}

#box-botao {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

#login-usuario , #login-senha {
  margin-right: 1rem;
}

#cadastro {
  display: flex;
  padding: 3rem 5rem;
  background: linear-gradient( rgb( 255 , 255 , 255 ) , rgb( 211 , 216 , 232 ) );
}

#esquerda {
  padding-right: 2rem;
}
