* {
  margin: 0;
  font-family: Helvetica , Arial , sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba( 59 , 89 , 152 );
  height: 83px;
  background-image: linear-gradient( rgb( 78 , 105 , 162 ) , rgb( 59 , 89 , 152 ) 50% );
  border-bottom: 1px solid #133783;
  max-height: 83px;
}

.fb-logo {
  width: 170px;
  margin-left: 152px;
  padding-top: 0.7rem;
}

ul {
  list-style-type: none;
}

#login {
  display: flex;
  padding-top: 0.5rem;
}

#box-botao {
  display: flex;
  align-items: center;
  margin-right: 152px;
}

#box-botao input {
  background-color: rgb( 66 , 103 , 178 );
  border: 1px solid rgb( 41 , 72 , 125 );
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  line-height: 18px;
  padding: 2px 6px;
}

#box-botao input:hover {
  background-color: rgb( 56 , 88 , 152 );
}

#login-usuario , #login-senha {
  margin-right: 14px;
}

#login-usuario label, #login-senha label {
  font-size: 12px;
  color: rgb( 255 , 255 , 255 );
  padding: 2px;
}

#login-usuario input, #login-senha input {
  margin: 0.25rem 0;
  border: 1px;
  border-style: solid;
  border-color: rgb( 29 , 42 , 91 );
  width: 142px;
  height: 14px;
  padding: 3px 3px 4px 3px;
}

#login-senha a {
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  color: rgb( 156 , 180 , 216 );
}

#login-senha a:hover {
  text-decoration: underline;
}

#cadastro {
  display: flex;
  justify-content: space-between;
  background: linear-gradient( white , rgb( 211 , 216 , 232 ) );
}

#esquerda {
 margin-left: 152px;
 margin-top: 40px;
 width: 450px;
 height: 580px;
}

#esquerda p {
  color: rgb( 14 , 56 , 95 );
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  word-spacing: -1px;
}

#direita {
  margin-right: 152px;
  width: 402px;
  height: 600px;
}

#cabecalho-direita {
  padding: 20px 0;
}

#direita h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 48.24px;
  color: rgb( 51 , 51 , 51 );
}

#direita h3 {
  font-size: 19px;
  color: rgb( 29 , 33 , 41 );
  line-height: 25.46px;
  font-weight: 400;
  padding: 5px 0 0;
}

form {
  margin-top: -4px;
}

form input {
  border: 1px solid rgb( 189 , 199 , 216 );
  border-radius: 5px;
  padding: 8px 10px;
  width: 377px;
  margin: 5px 0;
  font-size: 18px;
}

#linha-nome-sobrenome {
  display: flex;
}

#linha-nome-sobrenome input {
  width: 172px;
  margin-right: 11px;
}

#linha-nascimento, #linha-genero {
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.34;
}

#linha-nascimento label, #linha-genero label {
  color: rgb( 144 , 148 , 156 );
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.34;
}

#linha-nascimento input {
  padding: 5px 0;
  width: 172px;
  font-size: 13px;
  border-radius: 0;
}

#radio {
  margin-top: 8px;
}

#radio input {
  width: 20px;
}

#radio label {
  color: rgb(29, 33, 41);
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  padding: 0 10px 0 3px;
}

#envia-dados {
  color: #777;
  font-size: 11px;
  width: 316px;
}

#envia-dados p {
  margin: 11px 0;
}

#envia-dados p a {
  color: rgb( 56 , 88 , 152 );
  cursor: pointer;
  text-decoration: none;
}

#envia-dados p a:hover {
  text-decoration: underline;
}

#botao-envia {
  background: linear-gradient(#67ae55, #578843);
  border: 1px solid;
  box-shadow: inset 0 1px 1px rgb( 164 , 227 , 136 );
  border-color: rgb( 59 , 110 , 34 ) rgb( 59 , 110 , 34 ) rgb( 44 , 81 , 21 );
  color: rgb( 255 , 255 , 255 );
  cursor: pointer;
  font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  max-width: 194px;
  padding: 7px 20px;
  text-align: center;
  margin: 10px 0;
}

#botao-envia:hover {
  background-image: linear-gradient(rgb( 121 , 188 , 100 ), rgb( 87 , 136 , 67 ));
}

.opcao-empresa {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
}

.opcao-empresa p a {
  color: rgb( 56 , 88 , 152 );
  cursor: pointer;
  text-decoration: none;
}