* {
  outline: 1px solid transparent;
  margin: 0;
  padding: 0;
}


.clear {
  clear: both;
}


.bluebarHeader {
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  display: flex;
  justify-content: center;
  height: 86px;
  font-family: Arial, Helvetica, sans-serif;
}

.bluebarContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 980px;
  height: 83px;
  align-content: flex-end;
}

.fbLogoImagem {
  width: 170px;
  height: 34px;

}

.fbLogo {
    display: flex;
    align-items: center;
}


.loginForm, loginItem, loginItem {
  display: flex;
  align-content: space-around;
  justify-content: left;
  
}

.submitButton {
    display: flex;
    align-items: center;
}

.loginItem > input{
    margin-right: 12px;
    width: 150px;
    height: 23px;
}

button {
    font-size: 12px;
    margin: 0;
    padding: 2px 6px;
    border: 1px solid black;
    background-color: rgb(51, 102, 185);
    font-weight: bold;
    color: white;
}

.loginForm > div > input {
    border: 1px solid black;
}

.submitLogin {
    width: 50px;
    height: 24px;
    border-color: #29487d;
}

.submitLogin:hover{
  background-color: #3b5998;
}

a.forgotAccount {
  text-decoration: none;
  color: #9cb4d8;;
  
}

a.forgotAccount:hover {
  text-decoration: underline;
}


.texto {
  color: #fff;
  font-weight: normal;
  padding-left: 1px;
  font-family: inherit;
}

label {
    margin: 0;
    font-size: 12px
}

.esqueceuConta {
    color: #9cb4d8;
}

.articleContainer {
  display: flex;
  justify-content: center;
  background: linear-gradient(white, #D3D8E8);
 
}

.articleContent {
  display: flex;
  width: 980px;
  height: 630px;  
}

.leftContainer {
  width: 580px;
  height: 326px;
  }

.rigthContainer {
  width: 400px;
  height: 629px;
} 

.rodape {
  display: flex;
  justify-content: center;
}
