* {
  margin: auto;
  padding: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: rgb( 231 , 236 , 242 );
  font-family: sans-serif;
}

header {
  background-image: linear-gradient( to bottom , rgb( 85 , 115 , 175 ) , rgb( 56 , 88 , 152 ) );
}

.barra-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  width: 980px;
  margin: 0 auto;
}

#footer-languages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  cursor: pointer;
}

#footer-links {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  cursor: pointer;
  width: 980px;
  margin: 0 auto;
}

.links {
  margin: 0 5px;
}

.login {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  font-size: 12px;
}

.font-label {
  color: white;
}

#email , #senha {
  width: 142px;
  height: 14px;
  padding: 3px 3px 4px;
  border: 1px solid rgb( 38 , 66 , 121 );
}

.td-email-senha {
  padding-left: 14px;
  height: 24px;
}

footer {
  background-color: white;
  line-height: 1.6;
  height: 136px;
}

#conteudo-rodape {
  width: 980px;
  margin: 0 auto;
  padding-top: 20px;
}

#conexao {
  display: block;
  color: rgb( 14 , 56 , 95 );
  font-weight: 700;
  line-height: 29px;
  font-size: 20px;
  width: 450px;
  height: 87px;
  margin-top: 40px;
}

#logo {
  height: 34px;
  width: 170px;
  padding-top: 15px;
}

#botaoEntrar {
  border: none;
  height: 23px;
  width: 35.484px;
  font-size: 12px;
  font-weight: 700;
  background: none;
  color: white;
  cursor: pointer;
}

#label-entrar {
  padding: 3px 6px;
  border: 1px solid rgb( 41 , 72 , 125 );
  height: 24px;
  width: 48.49px;
  cursor: pointer;
  background-color: rgb( 66 , 103 , 178 );
  border-radius: 2px;
}

#abraumaconta {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  width: 400px;
  height: 54;
  margin-top: 20px;
  color: rgb( 51 , 51 , 51 );
}

#rapidoefacil {
  font-size: 19px;
}

#cadastrar {
  background: rgb( 87 , 136 , 67 );
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: white;
  text-align: center;
  width: 196px;
  padding: 7px 20px;
  border-radius: 3px;
  border-color: rgb( 59 , 110 , 34 );
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}

#cadastrar:hover {
  background: rgb( 105 , 167 , 78 );
}

.formulario {
  border-color: rgb( 189 , 199 , 216 );
  border-radius: 5px;
  height: 21px;
  padding: 8px 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.nomes {
  width: 172px;
}

.termos {
  color: rgb( 119 , 119 , 119 );
  font-size: 12px;
  width: 316px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ladoDireito {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  line-height: 1.5;
}

#nome-sobrenome {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.campoMaior {
  width: 377px;
}

.ladoEsquerdo {
  display: inline-block;
  line-height: 1.34;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 50%;
}

#esqueceu {
  line-height: 1.34;
  font-size: 12px;
  color: rgb( 156 , 180 , 216 );
}

#corpo {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 980px;
}

.titulos {
  font-weight: 700;
  color: rgb( 144 , 148 , 156 );
  margin-top: 10px;
  margin-bottom: 5px;
}

#generos {
  width: 400px;
}

.campos {
  margin-bottom: 10px;
}

.criarPagina {
  border-top: 1px solid rgb( 221 , 223 , 226 );
  color: rgb( 102 , 102 , 102 );
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
}

#calendario {
  font-size: 1.2em;
  width: 130px;
  text-align: center;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}
